# Node.js dependencies
node_modules/
package-lock.json

# Environment variables (DO NOT SHARE SECRETS!)
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Render & Deployment
render.yaml
.DS_Store
